- content_for :head do
  = javascript_include_tag "pages/admin/structures-bundle"
  = stylesheet_link_tag "pages/admin/structures-bundle", :media => "all"


= form_tag("/admin/structures", method: "post") do
  = select_tag :book_id, options_from_collection_for_select(@books, "id", "name"), :prompt => "请选择"
  = select_tag :chapter_id, nil, :prompt => "请选择"
  = select_tag :section_id, nil, :prompt => "请选择"
  = select_tag :subsection_id, nil, :prompt => "请选择"
  = label_tag :structure, "新目录"
  = text_field_tag :structure
  = submit_tag "创建"
= button_to "删除该节点", "javascript:void(0);", id: "delete"
