- content_for :head do
  = javascript_include_tag "pages/admin/structures-bundle"
  = stylesheet_link_tag "pages/admin/structures-bundle", :media => "all"
= select_tag :books, options_from_collection_for_select(@books, "id", "name"), :prompt => "请选择"
= select_tag :chapters, nil, :prompt => "请选择"
= select_tag :sections, nil, :prompt => "请选择"
= select_tag :subsections, nil, :prompt => "请选择"

= form_tag("/admin/structures", method: "post") do
  %div
    = label_tag :structure, "新目录"
    = text_field_tag :structure
    = text_field_tag :book_id, nil, :class => 'hide'
    = text_field_tag :chapter_id, nil, :class => 'hide'
    = text_field_tag :section_id, nil, :class => 'hide'
    = submit_tag "创建"
