- content_for :head do
  = javascript_include_tag "pages/admin/questions-bundle"
  = stylesheet_link_tag "pages/admin/questions-bundle", :media => "all"
= form_tag("/admin/questions", method: "post") do
  %p
    = label_tag :type, "类型: "
    = radio_button_tag 'question[type]', 'Choice', true
    = label_tag :type, "选择题"
    = radio_button_tag 'question[type]', 'Blank', false
    = label_tag :type, "填空题"
    = radio_button_tag 'question[type]', 'Cal', false
    = label_tag :type, "解答题"
  %p.hide
    = label_tag :type, "来源"
    = text_field_tag "question[source]"
  %p
    = label_tag :content, "题干"
    = text_area_tag "question[content]"
  %p.choice
    = label_tag :items, "一行选项个数: "
    = radio_button_tag 'question[item_num_per_row]', '4', true
    = label_tag :type, "4个"
    = radio_button_tag 'question[item_num_per_row]', '2', false
    = label_tag :type, "2个"
    = radio_button_tag 'question[item_num_per_row]', '1', false
    = label_tag :type, "1个"
  %p.choice
    = label_tag :items, "选项"
    = text_area_tag "question[items]"
  %p.cal.hide
    = label_tag :sub_questions, "子题目"
    = text_area_tag "question[sub_questions]"
  %p.choice
    = label_tag :choice, "答案选项: "
    = radio_button_tag 'answer[choice]', '0', true
    = label_tag :answer, "A"
    = radio_button_tag 'answer[choice]', '1', false
    = label_tag :answer, "B"
    = radio_button_tag 'answer[choice]', '2', false
    = label_tag :answer, "C"
    = radio_button_tag 'answer[choice]', '3', false
    = label_tag :answer, "D"
  %p
    = label_tag :procedure, "答案解析"
    = text_area_tag "answer[procedure]"
  %p
    = submit_tag "创建"
